.title {
    color: var(--color-light);
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.form {
    border-radius: 1rem;
    padding: 4rem;
    border: 1px solid var(--color-gray);
    min-width: 30rem;
    width: 60%;
    max-width: 100rem;
    align-items: center;
    gap: 4rem;
    background-color: var(--color-black);
}

.form-label {
    gap: 7rem;
    width: 100%;
    justify-content: space-between;
}

.form-label span {
    font-size: 3rem;
    color: var(--color-light);
    font-weight: 700;
    font-family: cursive;
}

select, option, input {
    border-radius: .5rem;
    width: 35rem;
    background-color: var(color-light);
    padding: 1rem;
    font-size: 2rem;
    font-family: cursive;
}

select, option {
    text-align: center;
}

.form-submit {
    width: 40rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1rem;
    background-color: var(--color-blue);
}