html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

:root {
  --color-blue: #005555;
  --color-black: #0e0f0f;
  --main-back: #232323;
  --color-light: #FFFFFF;
  --color-gray: rgb(235, 232, 232);
}
